@import "_settings";

.sp-none {
  display: none;
}

.home-content {
  padding: 64px 0 0;
  background-color: #F7F6F2;
}

.home-userbox {
  height: 64px;
  padding: 5px 18px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
}

.home-userbox ul {
  text-align: left;
  width: 200px;
  padding-left: 10px;
}

.home-username {
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.home-userimg {
  border: 1px solid #ccc;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-size: cover;
}

.home-logoutbutton {
  width: 87px;
  height: 26px;
}

.home-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.home-tilebox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px 10px;
}

.search-box {
  background-color: #ffffff;
}

.serch-inputbox {
	display: flex;
	flex-wrap: nowrap;
  padding: 20px 30px;
}

.serch-inputbox input {
  width: 265px;
  height: 40px;
  font-weight: normal;
  border-right: none;
  border-radius: 3px 0 0 3px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #F0F0F0;
  color: #666666;
  border: none;
}

.serch-inputbox button {
  width: 52px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  background-color: #236ED5;
  border: none;
}

.search-title {
  padding-left: 15px;
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 15px;
  &:before {
    content: "";
    display: block;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
  }
}

.search-ranking {
  padding: 0 15px;
  li {
    display: block;
    height: 30px;
    padding-left: 45px;
    line-height: 30px;
  }
  li a {
    font-weight: 700;
  }
  li:nth-child(4) {
    padding: 0 10px;
  }
  li ul li {
    background-color: #ffffff;
  }
  li span {
    color: #666666;
    padding-right: 10px;
  }
}

.serch-rankingbottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding: 0 30px 10px;
  li {
    font-weight: 500;
    display: block;
    height: 30px;
    line-height: 30px;
  }
  li span {
    color: #666666;
    padding-right: 5px;
  }
}

.search-rankinglist1,
.search-rankinglist3 {
  background-color: #F8F8F8;
}

.home-titlebox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 10px 10px;
  p a {
    font-weight: 700;
  }
}


.home-cardlistwrap {
  width: 100%;
  height: 165px;
  padding-left: 10px;
  overflow-x: auto;
}

.home-cardboximg {
  width: 100%;
  height: 109px;
  background-color: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-size: cover;
}

.home-cardboxtxt {
  padding: 10px;
  line-height: 1.3;
  color: #5A5A5A;
}

.home-cardlistwrap {
  ul {
    width: 840px;
    height: 165px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  ul li {
  }
  ul li a {
    display: block;
    width: 160px;
    height: 165px;
    background-color: #fff;
    border-radius: 3px;
  }
}

.home-lessonbox {
  padding: 0 10px;
  a {
    display: block;
    background-color: #ffffff;
    height: 45px;
    border-radius: 3px;
  }
}

.home-info {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5px 10px;
  }
  ul li {
    width: 50%;
    height: 45px;
    padding: 5px;
    margin-bottom: 10px;
  }
  ul li a {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
  }
}