
//content background-color
$content-backgraound-color: #F7F6F2;

// page_header
$page-header-color: #DFBA88;

// txt color
$txt-dark-brown:#6F3800;
$txt-brown:#963620;
$txt-thin:#888888;
$txt-heading:#4A4A4A;
$txt-qa:#252669;
$commentary-txt:#707070;


// icon
$icon-dark-brown:#6F3800;
$icon-blue:#236ED5;

// border
$border-dafault:#D1D1D1;
