<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>ログイン</title>
</head>
<body>
  <main>
    <div class="login-logo">
      <h1><img src="/assets/images/logo.svg" alt="学び応援サイト薬学のレシピ"></h1>
    </div>
    <div class="login-container">
      <div class="logincard">
        <div class="logincard-header">
          <p>新規登録</p>
        </div>
        <div class="logincard-body">
          <div class="form-box">
            <div class="label-box">
              <label for="email">メールアドレス</label>
              <span>学校のアドレスを登録ダミー</span>
            </div>
            <div class="input-box">
              <input type="email" id="email">
            </div>
          </div>
          <div class="form-box">
            <div class="label-box">
              <label for="password">パスワード</label>
              <span>半角英数6文字以上</span>
            </div>
            <div class="input-box">
              <input type="password" id="password">
            </div>
          </div>
          <div class="loginform-terms">
            <p><a href="#">利用規約を読む</a></p>
          </div>
          <div class="loginform-ckeck">
            <input type="checkbox" name="" id="agree">
            <label for="agree">利用規約の内容を読み、内容に同意します。</label>
          </div>
          <div class="loginform-button">
            <button type="submit" name="" class="primary-button">登録する</button>
          </div>
        </div><!--/logincard-body-->
      </div><!--/logincard-->
    </div><!--/login-container-->
  </main>
</body>
</html>