<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>興味関心</title>
</head>
<body>
  <main>

    <div class="registration-title">
      <h1>興味関心</h1>
    </div>
    <div class="registration-subtitle">
      <p>興味のある項目に3つ以上チェックしてください。<br>項目は後からでも再選択が可能です。</p>
    </div>

    <div class="interest-content">

      <ul class="interest-checklist">
        <li><label for="interest1"><input type="checkbox" name="" id="interest1">調剤実務</label></li>
        <li><label for="interest2"><input type="checkbox" name="" id="interest2">漢方</label></li>
        <li><label for="interest3"><input type="checkbox" name="" id="interest3">高度医療</label></li>
        <li><label for="interest4"><input type="checkbox" name="" id="interest4">在庫管理</label></li>
        <li><label for="interest5"><input type="checkbox" name="" id="interest5">店舗管理</label></li>
        <li><label for="interest6"><input type="checkbox" name="" id="interest6">服薬指導</label></li>
        <li><label for="interest7"><input type="checkbox" name="" id="interest7">薬栄連携</label></li>
        <li><label for="interest8"><input type="checkbox" name="" id="interest8">スポーツスポーツファーマシスト</label></li>
        <li><label for="interest9"><input type="checkbox" name="" id="interest9">無菌調剤体験</label></li>
        <li><label for="interest10"><input type="checkbox" name="" id="interest10">こども薬剤</label></li>
        <li><label for="interest11"><input type="checkbox" name="" id="interest11">メイク</label></li>
        <li><label for="interest12"><input type="checkbox" name="" id="interest12">アロマ</label></li>
        <li><label for="interest13"><input type="checkbox" name="" id="interest13">処方解析</label></li>
        <li><label for="interest14"><input type="checkbox" name="" id="interest14">在宅業務</label></li>
        <li><label for="interest15"><input type="checkbox" name="" id="interest15">検体検定</label></li>
        <li><label for="interest16"><input type="checkbox" name="" id="interest16">健康指導</label></li>
        <li><label for="interest17"><input type="checkbox" name="" id="interest17">かかりつけ薬局</label></li>
        <li><label for="interest18"><input type="checkbox" name="" id="interest18">チーム医療</label></li>
        <li><label for="interest19"><input type="checkbox" name="" id="interest19">緩和ケア</label></li>
      </ul>

    </div>
  </main>

  <div class="footerbutton-sigle">
    <button type="submit" class="primary-button">保存してサービスを開始する</button>
  </div>

</body>
</html>