<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>インターン検索</title>
</head>
<body>

  <%- include('../_header'); -%>

  <div class="headerundernav">
    <div class="headerundernav_inner">
      <a href="headerundernav_back">Back</a>
      <p class="headerundernav_title">法人詳細</p>
    </div>
  </div>

  <main>

    <div class="comdetail_container">
      <div class="comdetail_header">
        <h1>一般財団法人　江原積善会 積善病院</h1>
        <p>いっぱんしゃだんほうじん　えはらせきぜんかい　せきぜんびょういん</p>
      </div>
      <div class="comdetail_headerimg" style="background-image: url(/assets/images/is_dummy.png);">
        <div class="comdetail_comlogo" style="background-image: url();"></div>
      </div>
      <p class="comdetail_headersubtxt">わたしたちは、精神科・神経科を中心に患者さまの “こころの問題” に専門的に取り組む医療・福祉サービス機関として、病気はもちろんのこと、患者さま一人ひとりとの心のかよう治療をめざしています。暮らしの中での悩みや不安に思っていることなどを、ご相談下さい！</p>
    </div>

    <div class="comdetail_cominfo">
      <p class="comdetail_cominfotitle">法人情報</p>
      <table class="comdetail_cominfotable">
        <tr>
          <th>本社郵便番号</th>
          <td>〒708-0883<td>
        </tr>
        <tr>
          <th>本社所在地</th>
          <td>群馬県津山市一方140番地<td>
        </tr>
        <tr>
          <th>本社電話番号</th>
          <td>0868-22-3166<td>
        </tr>
        <tr>
          <th>資本金</th>
          <td>100（百万）<td>
        </tr>
        <tr>
          <th>診療科目</th>
          <td>精神科<td>
        </tr>
        <tr>
          <th>従業員</th>
          <td>260人<td>
        </tr>
        <tr>
          <th>売上高</th>
          <td>1000（百万）<td>
        </tr>
        <tr>
          <th>拠点情報</th>
          <td><td>
        </tr>
      </table>
    </div>

    <div class="comdetail_cominfo">
      <p class="comdetail_cominfotitle">法人へのお問い合わせ先</p>
      <ul class="comdetail_cominfolist">
        <li>法人名：一般財団法人　江原積善会 積善病院</li>
        <li>人事部電話番号：0868-22-3166</li>
        <li>人事部メールアドレス：zinzi@sekizen</li>
        <li>URL：http://www.sekizen.or.jp/</li>
      </ul>
    </div>

  </main>

  <div class="footerbutton-sigle">
    <button type="submit" class="primary-button">エントリーしてやり取りを開始する</button>
  </div>

</body>
</html>