<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>インターン検索</title>
</head>
<body>

  <%- include('../_header'); -%>

  <main>

    <div class="search_input_box">
      <input type="text" class="search_input" placeholder="法人を絞り込む">
    </div>

    <div class="search_container">

      <div class="search_section"><a href="">
        <div class="search_img" style="background-image: url(/assets/images/is_dummy.png);">
          <button class="search_folder_icn"></button>
        </div>
        <div class="search_sectiontxtbox">
          <p class="search_comtitle">一般財団法人　江原積善会　積善病院</p>
          <p class="search_comnamekana">いっぱんしゃだんほうじん　えはらせきぜんかい　せきぜんびょういん</p>
          <dl class="search_comadd">
            <dt>本社所在地</dt>
            <dd>沖縄県中頭郡北中城村字比嘉８０１中部徳洲会</dd>
          </dl>
        </div>
      </a></div>

      <div class="search_section"><a href="">
        <div class="search_img" style="background-image: url(/assets/images/is_dummy.png);">
          <button class="search_folder_icn"></button>
        </div>
        <div class="search_sectiontxtbox">
          <p class="search_comtitle">一般財団法人　江原積善会　積善病院</p>
          <p class="search_comnamekana">いっぱんしゃだんほうじん　えはらせきぜんかい　せきぜんびょういん</p>
          <dl class="search_comadd">
            <dt>本社所在地</dt>
            <dd>沖縄県中頭郡北中城村字比嘉８０１中部徳洲会</dd>
          </dl>
        </div>
      </a></div>

      <div class="search_section"><a href="">
        <div class="search_img" style="background-image: url(/assets/images/is_dummy.png);">
          <button class="search_folder_icn"></button>
        </div>
        <div class="search_sectiontxtbox">
          <p class="search_comtitle">一般財団法人　江原積善会　積善病院</p>
          <p class="search_comnamekana">いっぱんしゃだんほうじん　えはらせきぜんかい　せきぜんびょういん</p>
          <dl class="search_comadd">
            <dt>本社所在地</dt>
            <dd>沖縄県中頭郡北中城村字比嘉８０１中部徳洲会</dd>
          </dl>
        </div>
      </a></div>

    </div>

  </main>
</body>
</html>