<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>インターン検索</title>
</head>
<body>

  <%- include('../_header'); -%>

  <main>

    <div class="search_input_box">
      <input type="text" class="search_input">
    </div>

    <div class="search_container">

      <div class="search_section">
        <div class="search_img" style="background-image: url(/assets/images/is_dummy.png);">
          <button class="search_folder_icn"></button>
        </div>
        <div class="search_sectiontxtbox">
          <a href="">
            <ul class="search_tags">
              <li>高度医療</li>
              <li>店舗管理</li>
              <li>服薬指導</li>
            </ul>
            <p class="search_title">英会話研修体験＆自己分析インターンシップ!!</p>
            <p class="search_leadtxt">薬剤師の仕事は調剤や服薬指導医薬品の在庫管理など多岐に及びます。今回のインターンシップでは、業務を実際験…</p>
            <ul class="search_isitem">
              <li>定員：15名</li>
              <li>開催時期：6月～11月まで随時開催</li>
              <li>開催場所：岡山県津山市一方140番地</li>
            </ul>
            <p class="search_comname">一般財団法人　江原積善会 積善病院</p>
          </a>
        </div>
      </div>

      <div class="search_section">
        <div class="search_img" style="background-image: url(/assets/images/is_dummy.png);">
          <button class="search_folder_icn"></button>
        </div>
        <div class="search_sectiontxtbox">
          <a href="">
            <ul class="search_tags">
              <li>高度医療</li>
              <li>店舗管理</li>
              <li>服薬指導</li>
            </ul>
            <p class="search_title">英会話研修体験＆自己分析インターンシップ!!</p>
            <p class="search_leadtxt">薬剤師の仕事は調剤や服薬指導医薬品の在庫管理など多岐に及びます。今回のインターンシップでは、業務を実際験…</p>
            <ul class="search_isitem">
              <li>定員：15名</li>
              <li>開催時期：6月～11月まで随時開催</li>
              <li>開催場所：岡山県津山市一方140番地</li>
            </ul>
            <p class="search_comname">一般財団法人　江原積善会 積善病院</p>
          </a>
        </div>
      </div>

      <div class="search_section">
        <div class="search_img" style="background-image: url(/assets/images/is_dummy.png);">
          <button class="search_folder_icn"></button>
        </div>
        <div class="search_sectiontxtbox">
          <a href="">
            <ul class="search_tags">
              <li>高度医療</li>
              <li>店舗管理</li>
              <li>服薬指導</li>
            </ul>
            <p class="search_title">英会話研修体験＆自己分析インターンシップ!!</p>
            <p class="search_leadtxt">薬剤師の仕事は調剤や服薬指導医薬品の在庫管理など多岐に及びます。今回のインターンシップでは、業務を実際験…</p>
            <ul class="search_isitem">
              <li>定員：15名</li>
              <li>開催時期：6月～11月まで随時開催</li>
              <li>開催場所：岡山県津山市一方140番地</li>
            </ul>
            <p class="search_comname">一般財団法人　江原積善会 積善病院</p>
          </a>
        </div>
      </div>

    </div>

  </main>
</body>
</html>