<header>
  <nav class="headernav">
    <ul>
      <li><a href="">
        <span>ホーム</span>
      </a></li>
      <li><a href="">
        <span>法人検索</span>
      </a></li>
      <li><a href="">
        <span>インターン検索</span>
      </a></li>
      <li><a href="">
        <span>検討中リスト</span>
      </a></li>
      <li><a href="">
        <span>メッセージ</span>
      </a></li>
    </ul>
  </nav>
</header>