<header>
  <nav class="headernav">
    <ul>
      <li><a href="" class="current">
        <i>
          <svg width="25.426" height="28.316" viewBox="0 0 25.426 28.316">
            <g id="home-alt" transform="translate(0.5 0.676)">
              <path id="パス_61" data-name="パス 61" d="M3,13.1V29.14H27.426V13.1L15.213,2Z" transform="translate(-3 -2)" fill="none" stroke="#6f380f" stroke-linecap="square" stroke-width="1"/>
              <rect id="長方形_482" data-name="長方形 482" width="9.048" height="12.064" transform="translate(7.689 15.076)" fill="none" stroke="#6f380f" stroke-linecap="square" stroke-width="1"/>
            </g>
          </svg>
        </i>
        <span>ホーム</span>
      </a></li>
      <li><a href="">
        <i class="">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32.567" height="34.14" viewBox="0 0 32.567 34.14">
            <defs>
              <clipPath id="clip-path">
                <rect id="長方形_583" data-name="長方形 583" width="32.567" height="34.14" transform="translate(-2 -2)" fill="none"/>
              </clipPath>
            </defs>
            <g id="グループ_160" data-name="グループ 160" transform="translate(2 2)">
              <g id="マスクグループ_159" data-name="マスクグループ 159" clip-path="url(#clip-path)">
                <path id="パス_82" data-name="パス 82" d="M20.419,1.933H4.5A4.094,4.094,0,0,0,.4,6.027v24.42H7.668V24.974h9.581v5.474h7.264V6.027A4.094,4.094,0,0,0,20.419,1.933Z" transform="translate(-0.356 -0.356)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                <rect id="長方形_579" data-name="長方形 579" width="17.196" height="2.984" transform="translate(3.504 7.011)" fill="#fff"/>
                <rect id="長方形_580" data-name="長方形 580" width="17.196" height="2.984" transform="translate(3.504 6.011)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                <rect id="長方形_581" data-name="長方形 581" width="17.196" height="2.984" transform="translate(3.504 13.452)" fill="#fff"/>
                <rect id="長方形_582" data-name="長方形 582" width="17.196" height="2.984" transform="translate(3.504 12.452)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                <line id="線_40" data-name="線 40" x2="8.658" y2="11.037" transform="translate(20.863 18.804)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                <path id="パス_83" data-name="パス 83" d="M119.06,112.464a6.155,6.155,0,1,1-6.155-6.155,6.155,6.155,0,0,1,6.155,6.155" transform="translate(-92.048 -93.66)" fill="#fff"/>
                <path id="パス_84" data-name="パス 84" d="M119.06,112.464a6.155,6.155,0,1,1-6.155-6.155A6.155,6.155,0,0,1,119.06,112.464Z" transform="translate(-92.048 -93.66)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
              </g>
            </g>
          </svg>          
        </i>
        <span>法人検索</span>
      </a></li>
      <li><a href="">
        <i class="">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28.777" height="34.589" viewBox="0 0 28.777 34.589">
            <defs>
              <clipPath id="clip-path">
                <rect id="長方形_577" data-name="長方形 577" width="28.777" height="34.589" transform="translate(-4 -2)" fill="none" stroke="#aaa" stroke-width="1"/>
              </clipPath>
              <clipPath id="clip-path-2">
                <rect id="長方形_578" data-name="長方形 578" width="22.777" height="30.589" fill="none"/>
              </clipPath>
            </defs>
            <g id="グループ_158" data-name="グループ 158" transform="translate(-172.964 -7.57)">
              <g id="グループ_157" data-name="グループ 157" transform="translate(176.964 9.57)">
                <g id="グループ_154" data-name="グループ 154">
                  <g id="グループ_153" data-name="グループ 153" clip-path="url(#clip-path)">
                    <path id="パス_76" data-name="パス 76" d="M18.474.5H.5V3.75H2.352L.5,8.362V30.968H18.474V8.362L16.562,3.75h1.912Z" transform="translate(-0.439 -0.439)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="パス_77" data-name="パス 77" d="M.5,84.1H14.308v16.1H.5" transform="translate(-0.439 -73.866)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="パス_78" data-name="パス 78" d="M.5,114.355H3.181v2.723H8.493v-2.723h2.682v-5.311H8.493V106.4H3.181v2.64H.5" transform="translate(-0.439 -93.457)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1.049"/>
                  </g>
                </g>
                <line id="線_38" data-name="線 38" x2="14.21" transform="translate(1.913 3.311)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                <g id="グループ_156" data-name="グループ 156">
                  <g id="グループ_155" data-name="グループ 155" clip-path="url(#clip-path-2)">
                    <line id="線_39" data-name="線 39" x2="8.854" y2="11.287" transform="translate(13.876 19.242)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="パス_79" data-name="パス 79" d="M74.841,112.7a6.295,6.295,0,1,1-6.295-6.295,6.295,6.295,0,0,1,6.295,6.295" transform="translate(-54.676 -93.457)" fill="#fff"/>
                    <path id="パス_80" data-name="パス 80" d="M74.841,112.7a6.295,6.295,0,1,1-6.295-6.295A6.295,6.295,0,0,1,74.841,112.7Z" transform="translate(-54.676 -93.457)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>          
        </i>
        <span>インターン検索</span>
      </a></li>
      <li><a href="">
        <i class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="25.426" height="19.998" viewBox="0 0 25.426 19.998">
            <path id="folder" d="M3,5h8.142L12.5,7.714H27.426V24H3Z" transform="translate(-2.5 -4.5)" fill="none" stroke="#aaa" stroke-linecap="square" stroke-width="1"/>
          </svg>          
        </i>
        <span>検討中リスト</span>
      </a></li>
      <li><a href="">
        <i class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="25.426" height="24.503" viewBox="0 0 25.426 24.503">
            <path id="chat-alt" d="M16.57,21.641,8.428,27.069V21.641H3V4H27.426V21.641Z" transform="translate(-2.5 -3.5)" fill="none" stroke="#aaa" stroke-linecap="square" stroke-width="1"/>
          </svg>          
        </i>
        <span>メッセージ</span>
      </a></li>
    </ul>
  </nav>
</header>