<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>医薬品検索結果</title>
</head>

<body>
    <%- include('_header'); -%>
    <main>
        <div class="home-content">

            <article class="favorite_container_box">

                <section class="bookmark_title">
                    <h1>お気に入りの法人</h1>
                </section>

                <section>
                    <ul class="bookmark_container">
                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="bookmark_list_card">
                                <img src="/assets/images/company-logo.png" alt="">
                                <p>一般財団法人　江原積善会 積善病院</p>
                            </a>
                        </li>

                    </ul>
                </section>
            </article>

            <article class="favorite_container_box">
                <section class="bookmark_title">
                    <h1>気になるインターンシップ</h1>
                </section>
                <section>
                    <ul>
                        <li class="bookmark_intern_card">
                            <a href="">
                                <div class="bookmark_intern_header">
                                    <p>現場で学べる国試対策!!!コース名【薬学生対象】店舗見学インターン
                                        【薬学生対象】店舗見学インターンシップ!!</p>
                                </div>
                                <div class="bookmark_intern_footer">
                                    <p><span>開催時期 </span>6月～11月まで随時開催<span class="entry_already">エントリー済</span></p>
                                    <p>一般財団法人　江原積善会 積善病院</p>
                                </div>
                            </a>
                        </li>

                        <li class="bookmark_intern_card">
                            <a href="">
                                <div class="bookmark_intern_header">
                                    <p>現場で学べる国試対策!!!コース名【薬学生対象】店舗見学インターン
                                        【薬学生対象】店舗見学インターンシップ!!</p>
                                </div>
                                <div class="bookmark_intern_footer">
                                    <p><span>開催時期 </span>6月～11月まで随時開催<span class="entry_already">エントリー済</span></p>
                                    <p>一般財団法人　江原積善会 積善病院</p>
                                </div>
                            </a>
                        </li>

                        <li class="bookmark_intern_card">
                            <a href="">
                                <div class="bookmark_intern_header">
                                    <p>現場で学べる国試対策!!!コース名【薬学生対象】店舗見学インターン
                                        【薬学生対象】店舗見学インターンシップ!!</p>
                                </div>
                                <div class="bookmark_intern_footer">
                                    <p><span>開催時期 </span>6月～11月まで随時開催<span class="entry_already">エントリー済</span></p>
                                    <p>一般財団法人　江原積善会 積善病院</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>

        </div>
    </main>
</body>

</html>