<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>ホーム</title>
</head>
<body>
<header> 
    <nav class="header_pc">
        <ul class="header_pc_left">
            <li><a href="">
                <i>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="206.116" height="60" viewBox="0 0 206.116 60">
                    <defs>
                      <clipPath id="clip-path">
                        <path id="パス_99" data-name="パス 99" d="M127.807-163.606a15.244,15.244,0,0,0-2.007.1v-1.834a16.379,16.379,0,0,0,2.007.1h4.465v-.1a7.24,7.24,0,0,0-.035-.9h.692a8.2,8.2,0,0,0,1.938-1.35h-4.534a12.266,12.266,0,0,0-1.661.069v-1.661a11.764,11.764,0,0,0,1.661.069H135.8a5.48,5.48,0,0,0,1.246-.069l.9,1c-.277.242-.277.242-.588.485a21.459,21.459,0,0,1-3.288,2.388h4.292a16.6,16.6,0,0,0,2.042-.1v1.834a15.471,15.471,0,0,0-2.042-.1h-4.292v2.873c0,.588-.035.8-.208,1.038-.277.415-.831.554-2.319.554-.208,0-.761,0-1.627-.069a5.984,5.984,0,0,0-.554-1.73,17.308,17.308,0,0,0,2.042.173c.727,0,.831-.035.831-.381v-2.423h-4.43Zm.831-8.133a9.7,9.7,0,0,0-1.246-1.869l1.661-.485a10.61,10.61,0,0,1,1.488,2.353h1.73a10.407,10.407,0,0,0-1-2.077L133-174.3a13.058,13.058,0,0,1,1.142,2.561h1.384a11.337,11.337,0,0,0,1.35-2.457l1.765.485a19.612,19.612,0,0,1-1.246,1.973h.727a15.762,15.762,0,0,0,2.042-.069,13.5,13.5,0,0,0-.069,1.384v1.523c0,.45.035.865.069,1.246h-1.8v-2.561H127.634v2.561h-1.8a7.128,7.128,0,0,0,.069-1.281v-1.523a8.391,8.391,0,0,0-.069-1.384,14.845,14.845,0,0,0,1.938.069h.865Z" transform="translate(-125.8 174.3)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-2">
                        <path id="パス_101" data-name="パス 101" d="M177.4-173.75a6.132,6.132,0,0,0,.831.035,17.267,17.267,0,0,0,4.672-.519l1.038,1.765a7.571,7.571,0,0,0-2.042,1.8,7.836,7.836,0,0,0-2.111,4.88,2.756,2.756,0,0,0,2.8,2.976,3.177,3.177,0,0,0,3.011-2.042,9.073,9.073,0,0,0,.623-3.6,13.276,13.276,0,0,0-.9-5.018l1.973-.588a11.9,11.9,0,0,0,4.4,6.091L190.655-166l-.138-.138c-.035,0-.1-.1-.242-.208a12.671,12.671,0,0,1-2.63-3.392,10.354,10.354,0,0,1,.346,2.873c0,3.53-2.25,6.057-5.364,6.057a5.427,5.427,0,0,1-2.838-.761,4.921,4.921,0,0,1-2.042-4.188,8.2,8.2,0,0,1,1.142-3.98,9.492,9.492,0,0,1,1.661-2.111c.069-.035.069-.035.277-.242.035-.069.069-.069.173-.173a1.228,1.228,0,0,0-.242.035l-.208.035a19.365,19.365,0,0,1-2.734.311,1.552,1.552,0,0,0-.415.035ZM188.717-175a9.838,9.838,0,0,1,1.73,2.423l-1.142.623a11.581,11.581,0,0,0-1.73-2.457Zm2.561,1.973a10.987,10.987,0,0,0-1.7-2.388L190.69-176a9.3,9.3,0,0,1,1.7,2.319Z" transform="translate(-177.4 176)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-3">
                        <path id="パス_103" data-name="パス 103" d="M229.084-171.178c0,7.164-.311,9.241-1.7,11.836a6.387,6.387,0,0,0-1.488-1.419,7.659,7.659,0,0,0,1.073-2.873,44.613,44.613,0,0,0,.346-6.956,19.953,19.953,0,0,0-.069-2.319,12.805,12.805,0,0,0,1.7.069h4.188v-.727a4.1,4.1,0,0,0-.069-.934h2.007a3.818,3.818,0,0,0-.069.969v.692h4.257a13.417,13.417,0,0,0,1.938-.1v1.834a15.7,15.7,0,0,0-1.938-.069h-5.468a21.756,21.756,0,0,1,4.119,2.734l-1.281,1.384a15.933,15.933,0,0,0-4.188-3.011l1.281-1.107Zm-.138,9.656a9.527,9.527,0,0,0,.9-2.7,18.206,18.206,0,0,0,.346-3.184l1.7.45a21.8,21.8,0,0,1-1.315,6.507Zm5.641-6.853c-.035.381-.069.865-.069,1.557v5.157c0,.45.138.519,1.108.519,1.315,0,1.315-.069,1.315-3.046a6.824,6.824,0,0,0,1.73.588c-.138,2.25-.277,3.08-.658,3.53-.346.45-1.038.658-2.423.658-2.284,0-2.873-.242-2.873-1.246v-6.2a5.966,5.966,0,0,0-.1-1.523Zm5.122,7.614a19.07,19.07,0,0,0-1.9-5.953l1.557-.761a30.069,30.069,0,0,1,2.077,5.884Z" transform="translate(-225.9 174.5)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-4">
                        <path id="パス_105" data-name="パス 105" d="M284.926-168.374a9.291,9.291,0,0,0-1.454.069v-1.557a11.1,11.1,0,0,0,1.246.069h.069a5.8,5.8,0,0,0-.865-1.73l1.384-.45a6.777,6.777,0,0,1,.831,1.765l-.969.415h2.388a6.875,6.875,0,0,0-.831-1.973l1.419-.45a8.454,8.454,0,0,1,.831,1.973l-1.211.45h1.869a10.12,10.12,0,0,0,1.281-2.734l1.661.415a16.5,16.5,0,0,1-1.315,2.319h.381a6.369,6.369,0,0,0,1.281-.069v1.557c-.485-.035-.934-.069-1.592-.069h-4.222c-.035.381-.069.554-.1.9h4.257a9.189,9.189,0,0,0,1.9-.1v1.7a14.24,14.24,0,0,0-1.9-.1h-4.534a5.719,5.719,0,0,1-.208.727h3.357a6.6,6.6,0,0,0,1.384-.069l.865,1.073a4.962,4.962,0,0,0-.588.727,9.407,9.407,0,0,1-1.627,1.73,11.473,11.473,0,0,0,3.5.865,11.74,11.74,0,0,0-.727,1.765,12.8,12.8,0,0,1-4.153-1.627,13.03,13.03,0,0,1-3.876,1.592,7.1,7.1,0,0,0-.8-1.384,8.783,8.783,0,0,1-1.281,1.211,5.8,5.8,0,0,0-.9-1.211c-.1.969-.588,1.246-2.18,1.246-.208,0-.45,0-1-.035a4.83,4.83,0,0,0-.381-1.7,12.928,12.928,0,0,0,1.419.1c.346,0,.415-.069.415-.45v-3.772c-.45.173-.519.173-.9.311a7.483,7.483,0,0,0-.8.277l-.346-1.834a7.71,7.71,0,0,0,2.042-.485v-2.873h-.727a6.143,6.143,0,0,0-1.108.069v-1.73a5.959,5.959,0,0,0,1.142.069h.692v-1.35a7.566,7.566,0,0,0-.1-1.7h1.9a11.041,11.041,0,0,0-.069,1.7v1.35h.415a6.951,6.951,0,0,0,.865-.035v1.7a6.951,6.951,0,0,0-.865-.035h-.346v2.319c.346-.138.554-.208,1.073-.415v1.627c-.519.208-.623.277-1.108.45v4.845a9.481,9.481,0,0,0,3.323-5.088h-.277a10.017,10.017,0,0,0-1.557.069v-1.661a10.743,10.743,0,0,0,1.592.069h.554c.035-.45.069-.554.1-.9h-.519Zm7.891-4.707a1.5,1.5,0,0,0-.45.069,61.523,61.523,0,0,1-9,.934,4.181,4.181,0,0,0-.519-1.419h.554a30.092,30.092,0,0,0,8.237-1Zm-8.687,12.286a10.635,10.635,0,0,0,3.011-1,11.58,11.58,0,0,1-1.454-1.384A10.142,10.142,0,0,1,284.13-160.795Zm2.907-3.011a12.814,12.814,0,0,0,1.419,1.177,5.61,5.61,0,0,0,1.211-1.177Z" transform="translate(-277.9 174.5)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-5">
                        <path id="パス_107" data-name="パス 107" d="M339.848-169.42v-1.246a10.876,10.876,0,0,0-.069-1.834h2.111a7.655,7.655,0,0,0-.069,1.107v2.007h1.038a11.586,11.586,0,0,0,2.146-.1v2.007a17,17,0,0,0-2.111-.069h-1.107a25.742,25.742,0,0,1-.1,2.734,6.656,6.656,0,0,1-2.388,4.741,9.327,9.327,0,0,1-3.219,1.73,4.528,4.528,0,0,0-1.246-1.73,7.835,7.835,0,0,0,3.149-1.557,5.107,5.107,0,0,0,1.73-3.945c.035-.381.035-.761.069-1.9h-4.257v2.457a7.565,7.565,0,0,0,.069,1.384h-2.146a13.724,13.724,0,0,0,.069-1.419v-2.423h-1a16.979,16.979,0,0,0-2.111.069v-2.007a11.587,11.587,0,0,0,2.146.1h.969v-1.661a8.422,8.422,0,0,0-.069-1.454h2.146a7.986,7.986,0,0,0-.069,1.419v1.7h4.326Z" transform="translate(-330.4 172.5)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-6">
                        <path id="パス_109" data-name="パス 109" d="M392.236-171.585c-.277.242-.346.311-.623.588a29.9,29.9,0,0,1-3.876,3.392v7.026a12.622,12.622,0,0,0,.069,1.834h-2.319a10.259,10.259,0,0,0,.1-1.765v-5.814a26.5,26.5,0,0,1-5.884,2.665,5.691,5.691,0,0,0-1.108-1.869,24.162,24.162,0,0,0,8.652-4.292,14.078,14.078,0,0,0,3.08-3.08Z" transform="translate(-378.6 172.9)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-7">
                        <path id="パス_111" data-name="パス 111" d="M433-158.714a12.46,12.46,0,0,0,.1-1.834V-171.1a10.439,10.439,0,0,0-.1-1.7h2.25a10.339,10.339,0,0,0-.069,1.73v3.08a51.71,51.71,0,0,1,7.476,3.461l-1.142,1.938a42.1,42.1,0,0,0-5.814-3.149c-.381-.173-.415-.208-.554-.277.035.45.069.658.069,1.107v4.361a13.67,13.67,0,0,0,.069,1.834Z" transform="translate(-433 172.8)" fill="#6f3800"/>
                      </clipPath>
                      <clipPath id="clip-path-8">
                        <path id="パス_113" data-name="パス 113" d="M235.56-46.092a5.411,5.411,0,0,1-4.257-2.492,9.559,9.559,0,0,1-1.9-6.022,11.62,11.62,0,0,1,3.842-9.033c2.561-2.319,5.987-3.461,10.244-3.461a12.436,12.436,0,0,1,8.687,3.046,10.012,10.012,0,0,1,3.357,7.822,11.952,11.952,0,0,1-2.146,7.164,11.525,11.525,0,0,1-6.057,4.188,1.663,1.663,0,0,1-1.35-.138,1.791,1.791,0,0,1-.865-1.073l-.069-.138a1.647,1.647,0,0,1,.1-1.281,1.973,1.973,0,0,1,1-.9,8.187,8.187,0,0,0,3.911-2.976,8.366,8.366,0,0,0,1.35-4.811,6.872,6.872,0,0,0-1.7-4.741,7.262,7.262,0,0,0-4.465-2.388c-.173-.035-.277.035-.311.242-.831,5.884-2.042,10.175-3.669,12.909C239.714-47.477,237.775-46.092,235.56-46.092Zm5.088-17.166a9.2,9.2,0,0,0-5.364,2.942,7.986,7.986,0,0,0-1.938,5.5,6.738,6.738,0,0,0,.761,3.392c.485.9,1.038,1.35,1.557,1.35a1.778,1.778,0,0,0,1.211-.692,9.681,9.681,0,0,0,1.35-2.146,21.591,21.591,0,0,0,1.384-4.049c.45-1.73.9-3.772,1.281-6.091.035-.069,0-.1-.069-.138C240.786-63.258,240.717-63.258,240.648-63.258Z" transform="translate(-229.4 67.1)" fill="#6f380f"/>
                      </clipPath>
                      <clipPath id="clip-path-9">
                        <path id="パス_115" data-name="パス 115" d="M328-87.965a30.384,30.384,0,0,0-.208,3.738l-.173,21.077A26.566,26.566,0,0,0,337.693-67.2a22.114,22.114,0,0,0,7.545-8.445,18.5,18.5,0,0,0,3.5,3.772,27.641,27.641,0,0,1-8.237,8.583c-3.7,2.457-7.441,3.911-13.428,5.053a10.646,10.646,0,0,0-2.215.623L322.5-60.451a13.527,13.527,0,0,0,.346-3.807l.138-19.935A19.082,19.082,0,0,0,322.811-88Z" transform="translate(-322.5 88)" fill="#6f380f"/>
                      </clipPath>
                      <clipPath id="clip-path-10">
                        <path id="パス_117" data-name="パス 117" d="M414.857-79.871a52.411,52.411,0,0,1,9.829,5.018L422.4-70.7a43.144,43.144,0,0,0-10-5.434ZM413.2-63.328a34.3,34.3,0,0,0,10.66-2.388,22.325,22.325,0,0,0,10.66-8.133,27.074,27.074,0,0,0,4.292-8.168,19.158,19.158,0,0,0,3.842,3.288,32.559,32.559,0,0,1-5.538,9.345c-4.672,5.4-10.971,8.687-20.039,10.487a26.014,26.014,0,0,0-2.6.588ZM417.7-88.8a58.955,58.955,0,0,1,9.829,4.776l-2.353,4.049a43.243,43.243,0,0,0-9.864-5.088Z" transform="translate(-412.4 88.8)" fill="#6f380f"/>
                      </clipPath>
                      <clipPath id="clip-path-11">
                        <path id="パス_119" data-name="パス 119" d="M524.111-81.092c6.16-1.246,13.325-4.119,16.128-6.576l2.942,4.153c-.45.173-.45.173-2.6,1.211a60.5,60.5,0,0,1-16.509,5.468v4.776a.268.268,0,0,1-.035.1v.485c0,2.18.138,2.976.658,3.5.623.658,2.734.969,6.3.969a67,67,0,0,0,8.549-.588,20.785,20.785,0,0,0,4.222-.9l.208,4.915a34.005,34.005,0,0,0-3.669.311c-2.942.311-7.579.554-10.348.554-4.6,0-7.164-.485-8.583-1.592a5.043,5.043,0,0,1-1.8-3.772,29.483,29.483,0,0,1-.1-3.392L519.438-88.6a21.373,21.373,0,0,0-.138-3.392h4.949a21.918,21.918,0,0,0-.173,3.426v7.476Zm24.5-9.76a4.032,4.032,0,0,1-4.049,4.049,4.077,4.077,0,0,1-4.049-4.049,4.033,4.033,0,0,1,4.049-4.049A4.032,4.032,0,0,1,548.614-90.852Zm-6.16,0a2.142,2.142,0,0,0,2.111,2.111,2.143,2.143,0,0,0,2.111-2.111,2.1,2.1,0,0,0-2.111-2.111A2.12,2.12,0,0,0,542.454-90.852Z" transform="translate(-519.3 94.901)" fill="#6f380f"/>
                      </clipPath>
                      <clipPath id="clip-path-12">
                        <path id="パス_121" data-name="パス 121" d="M2.475-64.356a1.737,1.737,0,0,1-1.315-.069,2.112,2.112,0,0,1-.969-.934A1.437,1.437,0,0,1,.26-66.605a1.575,1.575,0,0,1,.934-.831,56.32,56.32,0,0,0,10.59-4.153.127.127,0,0,0,.035-.1c0-.035,0-.069-.035-.069H2.3a1.419,1.419,0,0,1-1.073-.485,1.515,1.515,0,0,1-.45-1.107,1.388,1.388,0,0,1,.45-1.073,1.412,1.412,0,0,1,1.107-.45H14.519c.208,0,.311-.1.311-.346v-.8c0-.208-.1-.346-.311-.346H11.058a2.013,2.013,0,0,1-1.488-.623,2.122,2.122,0,0,1-.588-1.488v-.692a.19.19,0,0,0-.1-.173c-.069-.035-.138-.035-.173.035A35.739,35.739,0,0,1,3.1-76.85a1.511,1.511,0,0,1-1.281-.035,2.037,2.037,0,0,1-.934-.934,1.477,1.477,0,0,1,0-1.211,1.351,1.351,0,0,1,.9-.831A42.386,42.386,0,0,0,6.005-81.7a1.874,1.874,0,0,1,1.557-.069,2.246,2.246,0,0,1,1.211,1.038l.069.138a.127.127,0,0,0,.1.035c.035,0,.069,0,.069-.035v-5.884a2.013,2.013,0,0,1,.623-1.488,1.992,1.992,0,0,1,1.454-.623h2.526a.407.407,0,0,0,.415-.311c.035-.035.035-.069.069-.138a.345.345,0,0,0,.035-.138,2.789,2.789,0,0,1,1.038-1.384A2.48,2.48,0,0,1,16.8-91a1.5,1.5,0,0,1,1.246.692,1.569,1.569,0,0,1,.173,1.419v.069c-.035.173,0,.242.173.242h4.257a2.013,2.013,0,0,1,1.488.623,2.122,2.122,0,0,1,.588,1.488V-80.8c0,.035.035.035.069.069a.127.127,0,0,0,.1-.035A2.236,2.236,0,0,1,26.148-81.9a2.294,2.294,0,0,1,1.661-.035c1.315.485,2.734,1.107,4.257,1.834a1.6,1.6,0,0,1,.8.969,1.5,1.5,0,0,1-.138,1.281,1.46,1.46,0,0,1-1,.8,1.647,1.647,0,0,1-1.281-.1,56.357,56.357,0,0,0-5.4-2.25q-.311-.052-.311.208v.658a2.013,2.013,0,0,1-.623,1.488,1.992,1.992,0,0,1-1.454.623H19.191c-.208,0-.311.1-.311.346v.831c0,.208.1.346.311.346H31.374a1.439,1.439,0,0,1,1.073.45,1.439,1.439,0,0,1,.45,1.073,1.515,1.515,0,0,1-.45,1.108,1.493,1.493,0,0,1-1.107.485H21.856a.074.074,0,0,0-.069.069.127.127,0,0,0,.035.1,54.012,54.012,0,0,0,10.625,4.153,1.519,1.519,0,0,1,.934.8,1.507,1.507,0,0,1,.069,1.281,1.713,1.713,0,0,1-.934.969,1.747,1.747,0,0,1-1.384.035A51.528,51.528,0,0,1,19.087-70c-.138-.1-.208-.035-.208.138v4.084a1.96,1.96,0,0,1-.588,1.419,1.96,1.96,0,0,1-1.419.588,1.864,1.864,0,0,1-1.419-.623,2.019,2.019,0,0,1-.588-1.419v-3.98c0-.208-.069-.242-.242-.1A58.174,58.174,0,0,1,2.475-64.356ZM32.723-94.327a1.569,1.569,0,0,1,.485,1.142,1.539,1.539,0,0,1-.45,1.142,1.569,1.569,0,0,1-1.142.485H25.594a.276.276,0,0,0-.311.242,1.758,1.758,0,0,1-.45,1.211,1.5,1.5,0,0,1-1.211.485H23.1a1.792,1.792,0,0,1-1.211-.485,1.543,1.543,0,0,1-.485-1.211c0-.173-.069-.242-.208-.242H12.442c-.173,0-.242.069-.242.242a1.792,1.792,0,0,1-.485,1.211,1.518,1.518,0,0,1-1.177.485H10.02a1.648,1.648,0,0,1-1.177-.485,1.67,1.67,0,0,1-.485-1.211c0-.173-.1-.242-.311-.242H2.025a1.569,1.569,0,0,1-1.142-.485A1.569,1.569,0,0,1,.4-93.185a1.539,1.539,0,0,1,.45-1.142,1.569,1.569,0,0,1,1.142-.485H7.943a.349.349,0,0,0,.381-.311v-.138a1.852,1.852,0,0,1,.554-1.384,1.829,1.829,0,0,1,1.35-.554,1.829,1.829,0,0,1,1.35.554,1.852,1.852,0,0,1,.554,1.384v.138c0,.208.1.311.346.311h8.618a.275.275,0,0,0,.311-.311v-.138a1.882,1.882,0,0,1,.588-1.384,1.906,1.906,0,0,1,1.384-.554,1.829,1.829,0,0,1,1.35.554,1.852,1.852,0,0,1,.554,1.384v.138c0,.208.138.311.381.311h5.953A1.551,1.551,0,0,1,32.723-94.327Zm-28.9,4.776c1.523.969,2.665,1.765,3.426,2.319a1.419,1.419,0,0,1,.658,1.073A1.591,1.591,0,0,1,7.6-84.914a1.633,1.633,0,0,1-1.073.623,1.654,1.654,0,0,1-1.211-.242c-.761-.554-1.9-1.35-3.461-2.319A1.567,1.567,0,0,1,1.16-87.89,1.536,1.536,0,0,1,1.4-89.067a1.8,1.8,0,0,1,1.107-.692A1.716,1.716,0,0,1,3.825-89.551Zm8.791,4.292v1.211c0,.208.1.311.346.311H20.61a.318.318,0,0,0,.346-.311V-85.26a.31.31,0,0,0-.346-.346H12.962C12.754-85.571,12.615-85.467,12.615-85.26Zm.346,6.057H20.61a.318.318,0,0,0,.346-.311V-80.83c0-.208-.1-.311-.346-.311H12.962a.318.318,0,0,0-.346.311v1.315A.318.318,0,0,0,12.962-79.2ZM29.747-89.482a1.813,1.813,0,0,1,1.281-.277,1.559,1.559,0,0,1,1.107.623,1.715,1.715,0,0,1,.346,1.246,1.347,1.347,0,0,1-.623,1.073c-.8.554-1.938,1.35-3.5,2.319a1.657,1.657,0,0,1-1.281.208,1.684,1.684,0,0,1-1.073-.727,1.536,1.536,0,0,1-.242-1.177,1.457,1.457,0,0,1,.692-1.038C27.394-87.821,28.5-88.582,29.747-89.482Z" transform="translate(-0.08 97.2)" fill="#6f380f"/>
                      </clipPath>
                      <clipPath id="clip-path-13">
                        <path id="パス_123" data-name="パス 123" d="M115.8-72.725a1.792,1.792,0,0,1-1.211-.485,1.592,1.592,0,0,1-.485-1.211,1.67,1.67,0,0,1,.485-1.211,1.592,1.592,0,0,1,1.211-.485H129.12a.31.31,0,0,0,.346-.346v-.588a1.983,1.983,0,0,1,.588-1.454,1.93,1.93,0,0,1,1.419-.554.127.127,0,0,1,.1.035c.035,0,.069.035.1.035a.558.558,0,0,0,.554-.242l.208-.208c1.246-1,2.319-1.9,3.184-2.7.138-.138.069-.208-.1-.208H122.545a1.569,1.569,0,0,1-1.142-.485,1.447,1.447,0,0,1-.485-1.142,1.709,1.709,0,0,1,.485-1.177,1.518,1.518,0,0,1,1.177-.485H139.33a1.569,1.569,0,0,1,1.142.485,1.629,1.629,0,0,1,.485,1.142,4.027,4.027,0,0,1-1.107,2.873,42.721,42.721,0,0,1-5.122,4.5,2.515,2.515,0,0,1-.9.381.19.19,0,0,0-.173.1c-.035.035,0,.035.035.069l.035.035H146.01a1.792,1.792,0,0,1,1.211.485,1.592,1.592,0,0,1,.485,1.211,1.67,1.67,0,0,1-.485,1.211,1.67,1.67,0,0,1-1.211.485H133.793c-.208,0-.311.1-.311.346v4.984c0,1.973-.277,3.184-.8,3.634s-1.973.692-4.326.692q-1.3,0-4.153-.1a2.038,2.038,0,0,1-1.246-.554,1.733,1.733,0,0,1-.554-1.246,1.506,1.506,0,0,1,.415-1.177,1.316,1.316,0,0,1,1.142-.45q2.7.1,3.945.1a2.665,2.665,0,0,0,1.281-.173c.138-.138.173-.519.173-1.211v-4.568a.31.31,0,0,0-.346-.346ZM145.906-83a1.94,1.94,0,0,1-1.35.519,1.94,1.94,0,0,1-1.35-.519,1.726,1.726,0,0,1-.554-1.35v-3.669c0-.208-.1-.346-.311-.346H119.534c-.208,0-.311.1-.311.346v3.669a1.726,1.726,0,0,1-.554,1.35,1.94,1.94,0,0,1-1.35.519,1.94,1.94,0,0,1-1.35-.519,1.726,1.726,0,0,1-.554-1.35v-5.122a2.013,2.013,0,0,1,.623-1.488,2.122,2.122,0,0,1,1.488-.588h2.561a.177.177,0,0,0,.173-.138.163.163,0,0,0-.035-.208c-.346-.658-.588-1.142-.761-1.384a1.6,1.6,0,0,1-.138-1.315,1.715,1.715,0,0,1,.9-1,2.272,2.272,0,0,1,1.523-.069,1.667,1.667,0,0,1,1.177.969c.415.761.934,1.7,1.523,2.8a.613.613,0,0,0,.485.381h3.945a.19.19,0,0,0,.173-.1c.035-.069.035-.138-.035-.173a18.117,18.117,0,0,0-.969-1.8,1.6,1.6,0,0,1-.138-1.315,1.774,1.774,0,0,1,.934-1,2.184,2.184,0,0,1,1.488-.069,1.721,1.721,0,0,1,1.142.934c.865,1.627,1.419,2.7,1.7,3.288a.562.562,0,0,0,.485.311h3.392c.173,0,.311-.1.45-.311.485-.8,1.038-1.8,1.7-2.942A2.308,2.308,0,0,1,140.3-95.74a2.126,2.126,0,0,1,1.523-.138,1.545,1.545,0,0,1,.969.831,1.3,1.3,0,0,1-.035,1.281,11.015,11.015,0,0,1-.623,1.073c-.277.485-.45.8-.519.9-.035.035-.035.1.035.173a.19.19,0,0,0,.173.1h2.561a2.122,2.122,0,0,1,1.488.588,1.959,1.959,0,0,1,.623,1.488v5.157A1.848,1.848,0,0,1,145.906-83Z" transform="translate(-114.1 96.079)" fill="#6f380f"/>
                      </clipPath>
                    </defs>
                    <g id="グループ_435" data-name="グループ 435" transform="translate(-0.08 176)">
                      <g id="グループ_171" data-name="グループ 171" transform="translate(0.204 -175.412)" clip-path="url(#clip-path)">
                        <path id="パス_98" data-name="パス 98" d="M120.8-179.3h18.066v18.551H120.8Z" transform="translate(-122.53 177.57)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_172" data-name="グループ 172" transform="translate(18.062 -176)" clip-path="url(#clip-path-2)">
                        <path id="パス_100" data-name="パス 100" d="M172.4-181h18.447v18.654H172.4Z" transform="translate(-174.13 179.27)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_173" data-name="グループ 173" transform="translate(34.327 -175.481)" clip-path="url(#clip-path-3)">
                        <path id="パス_102" data-name="パス 102" d="M220.9-179.5h19v18.62h-19Z" transform="translate(-222.63 177.77)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_174" data-name="グループ 174" transform="translate(52.055 -175.481)" clip-path="url(#clip-path-4)">
                        <path id="パス_104" data-name="パス 104" d="M272.9-179.5h18.966v18.793H272.9Z" transform="translate(-274.63 177.77)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_175" data-name="グループ 175" transform="translate(69.958 -174.789)" clip-path="url(#clip-path-5)">
                        <path id="パス_106" data-name="パス 106" d="M325.4-177.5h18.066v17.616H325.4Z" transform="translate(-327.13 175.77)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_176" data-name="グループ 176" transform="translate(86.397 -174.927)" clip-path="url(#clip-path-6)">
                        <path id="パス_108" data-name="パス 108" d="M373.6-177.9h17.1v17.616H373.6Z" transform="translate(-375.33 176.17)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_177" data-name="グループ 177" transform="translate(104.977 -174.893)" clip-path="url(#clip-path-7)">
                        <path id="パス_110" data-name="パス 110" d="M428-177.8h13.117v17.547H428Z" transform="translate(-429.73 176.07)" fill="#6f3800"/>
                      </g>
                      <g id="グループ_178" data-name="グループ 178" transform="translate(78.189 -139.154)" clip-path="url(#clip-path-8)">
                        <path id="パス_112" data-name="パス 112" d="M224.4-72.1h29.591v25.761H224.4Z" transform="translate(-226.13 70.37)" fill="#6f380f"/>
                      </g>
                      <g id="グループ_179" data-name="グループ 179" transform="translate(109.899 -146.387)" clip-path="url(#clip-path-9)">
                        <path id="パス_114" data-name="パス 114" d="M317.5-93h29.695v33.848H317.5Z" transform="translate(-319.23 91.27)" fill="#6f380f"/>
                      </g>
                      <g id="グループ_180" data-name="グループ 180" transform="translate(140.469 -146.664)" clip-path="url(#clip-path-10)">
                        <path id="パス_116" data-name="パス 116" d="M407.4-93.8h33.71v33.952H407.4Z" transform="translate(-409.131 92.07)" fill="#6f380f"/>
                      </g>
                      <g id="グループ_181" data-name="グループ 181" transform="translate(176.882 -148.776)" clip-path="url(#clip-path-11)">
                        <path id="パス_118" data-name="パス 118" d="M514.3-99.9h32.775v35.648H514.3Z" transform="translate(-516.03 98.171)" fill="#6f380f"/>
                      </g>
                      <g id="グループ_182" data-name="グループ 182" transform="translate(0.08 -149.571)" clip-path="url(#clip-path-12)">
                        <path id="パス_120" data-name="パス 120" d="M-4.92-102.2H32.022v36.894H-4.92Z" transform="translate(3.19 100.47)" fill="#6f380f"/>
                      </g>
                      <g id="グループ_183" data-name="グループ 183" transform="translate(38.89 -149.183)" clip-path="url(#clip-path-13)">
                        <path id="パス_122" data-name="パス 122" d="M109.1-101.079h37.067v36.54H109.1Z" transform="translate(-110.83 99.348)" fill="#6f380f"/>
                      </g>
                    </g>
                  </svg>               
                </i>
            </a></li>

            <li><a href="">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32.567" height="34.14" viewBox="0 0 32.567 34.14"><defs><clipPath id="a"><rect width="32.567" height="34.14" transform="translate(-2 -2)" fill="none"/></clipPath></defs><g transform="translate(2 2)"><g clip-path="url(#a)"><path d="M20.419,1.933H4.5A4.094,4.094,0,0,0,.4,6.027v24.42H7.668V24.974h9.581v5.474h7.264V6.027A4.094,4.094,0,0,0,20.419,1.933Z" transform="translate(-0.356 -0.356)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><rect width="17.196" height="2.984" transform="translate(3.504 7.011)" fill="#fff"/><rect width="17.196" height="2.984" transform="translate(3.504 6.011)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><rect width="17.196" height="2.984" transform="translate(3.504 13.452)" fill="#fff"/><rect width="17.196" height="2.984" transform="translate(3.504 12.452)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><line x2="8.658" y2="11.037" transform="translate(20.863 18.804)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><path d="M119.06,112.464a6.155,6.155,0,1,1-6.155-6.155,6.155,6.155,0,0,1,6.155,6.155" transform="translate(-92.048 -93.66)" fill="#fff"/><path d="M119.06,112.464a6.155,6.155,0,1,1-6.155-6.155A6.155,6.155,0,0,1,119.06,112.464Z" transform="translate(-92.048 -93.66)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/></g></g></svg>              
              </i>
              <p>法人検索</p>
            </a>
            </li>

            <li><a href="">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28.777" height="34.589" viewBox="0 0 28.777 34.589"><defs><clipPath id="a"><rect width="28.777" height="34.589" transform="translate(-4 -2)" fill="none" stroke="#aaa" stroke-width="1"/></clipPath><clipPath id="b"><rect width="22.777" height="30.589" fill="none"/></clipPath></defs><g transform="translate(-172.964 -7.57)"><g transform="translate(176.964 9.57)"><g clip-path="url(#a)"><path d="M18.474.5H.5V3.75H2.352L.5,8.362V30.968H18.474V8.362L16.562,3.75h1.912Z" transform="translate(-0.439 -0.439)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><path d="M.5,84.1H14.308v16.1H.5" transform="translate(-0.439 -73.866)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><path d="M.5,114.355H3.181v2.723H8.493v-2.723h2.682v-5.311H8.493V106.4H3.181v2.64H.5" transform="translate(-0.439 -93.457)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1.049"/></g><line x2="14.21" transform="translate(1.913 3.311)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><g clip-path="url(#b)"><line x2="8.854" y2="11.287" transform="translate(13.876 19.242)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/><path d="M74.841,112.7a6.295,6.295,0,1,1-6.295-6.295,6.295,6.295,0,0,1,6.295,6.295" transform="translate(-54.676 -93.457)" fill="#fff"/><path d="M74.841,112.7a6.295,6.295,0,1,1-6.295-6.295A6.295,6.295,0,0,1,74.841,112.7Z" transform="translate(-54.676 -93.457)" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="1"/></g></g></g></svg>
              </i>
              <p>インターン検索</p>
            </a>
            </li>

            <li><a href="">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="25.426" height="19.998" viewBox="0 0 25.426 19.998"><path d="M3,5h8.142L12.5,7.714H27.426V24H3Z" transform="translate(-2.5 -4.5)" fill="none" stroke="#aaa" stroke-linecap="square" stroke-width="1"/></svg>               
              </i>
              <p>検討中リスト</p>
            </a>
            </li>

            <li><a href="">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="25.426" height="24.503" viewBox="0 0 25.426 24.503"><path d="M16.57,21.641,8.428,27.069V21.641H3V4H27.426V21.641Z" transform="translate(-2.5 -3.5)" fill="none" stroke="#aaa" stroke-linecap="square" stroke-width="1"/></svg>
              </i>
              <p>メッセージ</p>
            </a>
            </li>
        </ul>

        <ul class="header_pc_right">
          <li class="header_pc_icon"><a href="">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><g transform="translate(-0.2 -0.467)"><g transform="translate(0.2 0.467)" fill="#fff" stroke="#aaa" stroke-width="1"><circle cx="25" cy="25" r="25" stroke="none"/><circle cx="25" cy="25" r="24.5" fill="none"/></g><g transform="translate(10.575 4.862)"><path d="M116.738,174.8a3.918,3.918,0,0,0,2.707,3.852,8.382,8.382,0,0,0,15.779,0,3.918,3.918,0,0,0,2.707-3.852,4.154,4.154,0,0,0-1.417-3.157l.13-.7c0-.261-.018-.515-.039-.77l-.017-.2-.174.108c-2.422,1.5-6.345,2.174-9.158,2.174a19.673,19.673,0,0,1-9.013-2.084l-.177-.046-.015.2c-.015.206-.03.412-.028.646l.128.678A4.153,4.153,0,0,0,116.738,174.8Z" transform="translate(-112.924 -156.636)" fill="#aaa"/><path d="M104.831,364.334a22.619,22.619,0,0,1-2.047-1.367l-.074-.058-.076.054c-.54.385-2.448,2.367-4,4.014l-.859-1.669.447-.32v-1.636H95.076v1.636l.447.32-.859,1.669c-1.555-1.648-3.463-3.629-4-4.015l-.076-.054-.073.058a22.644,22.644,0,0,1-2.047,1.367c-2.355,1.46-5.025,3.114-5.025,6.067,0,1.745,4,6.358,13.113,6.358s13.3-4.614,13.3-6.358C109.856,367.448,107.186,365.794,104.831,364.334Z" transform="translate(-82.237 -334.442)" fill="#aaa"/><path d="M73.106,10.34c0,1.463,4.4,3.319,9.349,3.319S91.8,11.8,91.8,10.34V8.324l3.412-1.389v4.39a.833.833,0,0,0-.7.82.819.819,0,0,0,.568.773L94.4,17.4H97.6l-.679-4.48a.819.819,0,0,0,.567-.773.832.832,0,0,0-.707-.821l-.016-5.271a.244.244,0,0,0,.028-.126c0-.027,0-.077-.012-.077h0a.556.556,0,0,0-.358-.443l-.9-.37L83.764.254a3.5,3.5,0,0,0-2.619,0L68.491,5.407a.55.55,0,0,0,0,1.039l4.615,1.877Z" transform="translate(-68.121 0)" fill="#aaa"/></g></g></svg>
            </i>
            <div>
              <a href=""><p class="header_pc_name">山田太郎</p></a>
              <a href=""><p>登録情報の編集</p></a>
            </div>
          </a>
          </li>
          <li>
            <a href="">
              <button>ログイン</button>
            </a>
          </li>
        </ul>
    </nav>
      
</header>
</body>
</html>