<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>ホーム</title>
</head>
<body>
  <%- include('_header'); -%>
    <main>
      <div class="home-content">

        <div class="home-userbox">
          <div class="home-userimg" style="background-image: url(/assets/images/userimg_default.svg);"></div>
          <ul>
            <li class="home-username">山田 太郎</li>
            <li><a href="">登録情報の編集</a></li>
          </ul>
          <button class="home-logoutbutton">ログアウト</button>
        </div>

        <div class="home-tilebox">
          <h2 class="home-title">調剤検索</h2>
        </div>
        <div class="search-box">
          <div class="serch-inputbox">
            <input type="text" placeholder="一般名・薬品名を入力">
            <button></button>
          </div>
          <div class="search-title">
            <p>薬学生検索ランキング</p>
          </div>
          <ul class="search-ranking">
            <li class="search-rankinglist1"><a href=""><span>1位</span>アセトアミノフェン</a></li>
            <li class="search-rankinglist2"><a href=""><span>2位</span>クロルフェニラミンマレイン酸塩</a></li>
            <li class="search-rankinglist3"><a href=""><span>3位</span>エカテリシン錠5</a></li>
          </ul>
          <ul class="serch-rankingbottom">
            <li><a href=""><span>4位</span>トラネキサム酸</a></li>
            <li><a href=""><span>5位</span>フラジオマイシン硫酸塩</a></li>
          </ul>
        </div>

        <div class="home-titlebox">
          <h2 class="home-title">実務実習動画</h2>
          <p><a href="">もっと見る</a></p>
        </div>
        <div class="home-cardlistwrap">
          <ul>
            <li><a href="">
              <div class="home-cardbox">
                <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
                <div class="home-cardboxtxt">
                  <p>実務実習動画タイトルダミータイトルダミー</p>
                </div>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
          </ul>
        </div>

        <div class="home-titlebox">
          <h2 class="home-title">国試練習問題</h2>
        </div>
        <div class="home-lessonbox">
          <a href="">
            <div class="home-anserbox">
              <p class="home-anser"><span>40</span>問回答</p>
              <p class="home-question">100問中</p>
            </div>
          </a>
          <a class="sp-none" href="">続きを解く</a>
        </div>

        <div class="home-titlebox">
          <h2 class="home-title">おすすめ情報(セミナー動画)</h2>
          <p><a href="">もっと見る</a></p>
        </div>
        <div class="home-cardlistwrap">
          <ul>
            <li><a href="">
              <div class="home-cardbox">
                <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
                <div class="home-cardboxtxt">
                  <p>実務実習動画タイトルダミータイトルダミー</p>
                </div>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
            <li><a href="">
              <div class="home-cardboximg" style="background-image: url(/assets/images/66228045.jpg);"></div>
              <div class="home-cardboxtxt">
                <p>実務実習動画タイトルダミータイトルダミー</p>
              </div>
            </a></li>
          </ul>
        </div>

        <div class="home-titlebox">
          <h2 class="home-title">おすすめ情報</h2>
          <p><a href="">もっと見る</a></p>
        </div>
        <div class="home-info">
          <ul>
            <li><a href="">就活の進め方</a></li>
            <li><a href="">履歴書&エントリーシートcheckポイント</a></li>
            <li><a href="">現役薬剤師リアルキャリア情報</a></li>
            <li><a href="">病院の選び方</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>

      </div>

    </main>
</body>
</html>