<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>医薬品検索詳細</title>
</head>

<body>
    <%- include('_header'); -%>
    <main>
        <div class="home-content_100vh">

            <div class="page_header">
                <a href="#" class="page_header_back">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <p>Back</p>
                </a>
                <p class="page_header_title">医薬品検索詳細</p>
            </div>

            <article class="medicine_detail">
                <section class="medicine_detail_header">
                    <p><span class="">一般名</span>ジゴキシン</p>
                    <p><span>商品名</span>ハーフジゴキシンKY</p>
                </section>
                <section class="medicine_detail_footer">
                    <p><span>販売名</span></p>
                    <p>ジゴキシン錠0.0625「KYO」／
                        ハーフジゴキシンKY錠0.125 ／ジゴキシンKY錠0.25</p>
                </section>
            </article>

            <article class="ingredient_container">
                <section class="ingredient_title">
                    <h1>成分の詳細説明</h1>
                </section>
                <section class="ingredient_card">
                    <a href="">pmda.go.jp pdf へリンク</a>
                </section>
            </article>

            <article class="prescription_container">
                <section class="prescription_title">
                    <h1>調剤事例</h1>
                    <p>外部リンクのアイコンに変更します</p>
                </section>
                <section class="prescription_card">
                    <ul>
                        <li><a href="">
                                <p>フェブリク錠が初回から40mg／日で処方されても問題ない</p>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a></li>
                        <li><a href="">
                                <p>手術前、ルナベルの中止</p>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a></li>
                        <li><a href="">
                                <p>慢性副鼻腔炎に対するクラリスロマイシンなどのマクロライド療</p>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a></li>
                    </ul>
                </section>
            </article>


            <article class="next_related_qa">
                <section class="next_qa_title">
                    <img src="/assets/images/yakugaku_seminar_txt.png" alt="">
                    <p>「問題を見る」などの内容に変更</p>
                </section>
                <section class="next_qa_txt">
                    <a href="">
                        <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                    </a>
                </section>
            </article>

        </div>
    </main>
</body>

</html>