<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>医薬品検索結果</title>
</head>

<body>
    <%- include('_header'); -%>
    <main>
        <div class="home-content">

            <div class="page_header mb-0">
                <a href="#" class="page_header_back">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <p>Back</p>
                </a>
                <p class="page_header_title">調剤検索</p>
            </div>

            <div class="search-box">
                <!-- 飯沢さんの完成まち  差し込み-->
                <div class="serch-inputbox">
                    <input type="text" placeholder="一般名・薬品名を入力">
                    <button></button>
                </div>
                <div class="search-title">
                    <p>薬学生検索ランキング</p>
                </div>
                <ul class="search-ranking">
                    <li class="search-rankinglist1"><a href=""><span>1位</span>アセトアミノフェン</a></li>
                    <li class="search-rankinglist2"><a href=""><span>2位</span>クロルフェニラミンマレイン酸塩</a></li>
                    <li class="search-rankinglist3"><a href=""><span>3位</span>エカテリシン錠5</a></li>
                </ul>
                <ul class="serch-rankingbottom">
                    <li><a href=""><span>4位</span>トラネキサム酸</a></li>
                    <li><a href=""><span>5位</span>フラジオマイシン硫酸塩</a></li>
                </ul>
            </div>

            <div class="search_result_container">
                <h2>「ジゴキシン」の検索結果</h2>
                <ul>
                    <li class="medicine_result_list">
                        <a href="">
                            <div class="medicine_result_header">
                                <div>
                                    <h3>
                                        <span>一般名</span>
                                        ジゴキシン
                                    </h3>
                                    <h3>
                                        <span>商品名</span>
                                        ハーフジゴキシンKY
                                    </h3>
                                    <p>
                                        ジゴキシン錠0.0625「KYO」／ハーフジゴキシンKY錠0.125／ジゴキシンKY錠0.25
                                    </p>
                                </div>
                            </div>
                            <div class="medicine_result_footer">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                    <li class="medicine_result_list">
                        <a href="">
                            <div class="medicine_result_header">
                                <div>
                                    <h3>
                                        <span>一般名</span>
                                        ジゴキシン
                                    </h3>
                                    <h3>
                                        <span>商品名</span>
                                        ハーフジゴキシンKY
                                    </h3>
                                    <p>
                                        ジゴキシン錠0.0625「KYO」／ハーフジゴキシンKY錠0.125／ジゴキシンKY錠0.25
                                    </p>
                                </div>

                            </div>
                            <div class="medicine_result_footer">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                    <li class="medicine_result_list">
                        <a href="">
                            <div class="medicine_result_header">
                                <div>
                                    <h3>
                                        <span>一般名</span>
                                        ジゴキシン
                                    </h3>
                                    <h3>
                                        <span>商品名</span>
                                        ハーフジゴキシンKY
                                    </h3>
                                    <p>
                                        ジゴキシン錠0.0625「KYO」／ハーフジゴキシンKY錠0.125／ジゴキシンKY錠0.25
                                    </p>
                                </div>

                            </div>
                            <div class="medicine_result_footer">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                    <li class="medicine_result_list">
                        <a href="">
                            <div class="medicine_result_header">
                                <div>
                                    <h3>
                                        <span>一般名</span>
                                        ジゴキシン
                                    </h3>
                                    <h3>
                                        <span>商品名</span>
                                        ハーフジゴキシンKY
                                    </h3>
                                    <p>
                                        ジゴキシン錠0.0625「KYO」／ハーフジゴキシンKY錠0.125／ジゴキシンKY錠0.25
                                    </p>
                                </div>

                            </div>
                            <div class="medicine_result_footer">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </main>
</body>

</html>