<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>医薬品検索結果</title>
</head>

<body>
    <%- include('_header'); -%>
    <main>
        <div class="home-content">
            <article>
                <section>
                    <h1 class="message_title">メッセージ</h1>
                </section>
                <section>
                    <ul>
                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p>企業名</p>
                                    <p>ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right">
                                    <p>2020/11/11</p>
                                    <p class="circle"></p>
                                </div>

                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p>企業名</p>
                                    <p>ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right">
                                    <p>2020/11/11</p>
                                    <p class="circle"></p>
                                </div>

                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p>企業名</p>
                                    <p>ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right">
                                    <p>2020/11/11</p>
                                    <p class="circle"></p>
                                </div>

                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>

                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>

                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>

                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" class="message_card_list">
                                <div class="message_card_left">
                                    <img src="/assets/images/company-logo.png" alt="">
                                </div>

                                <div class="message_card_cnter">
                                    <p class="already_read">企業名</p>
                                    <p class="already_read">ご応募頂きありがとうございます…</p>
                                </div>

                                <div class="message_card_right already_read">
                                    <p class="already_read">2020/11/11</p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </section>
            </article>
        </div>
    </main>
</body>

</html>