<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>国家試験問題を途中から始める</title>
</head>

<body>
    <%- include('_header'); -%>
    <main>
        <div class="home-content_100vh">

            <div class="page_header">
                <a href="#" class="page_header_back">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <p>Back</p>
                </a>
                <p class="page_header_title">国試練習問題</p>
            </div>

            <div class="card_question_start">
                <img src="/assets/images/yakugaku_seminar.png" alt="">
                <a href="#">
                    <div>
                        <p><span class="answers_numbers">40 </span>問回答 / 110 問中</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>

            <div>
                <ul>
                    <li class="qa_errata_list_card">
                        <div class="qa_errata_header">
                            <p>第1問</p>
                            <p><span class="qa_errata_right">正解 ○</span></p>
                        </div>
                        <div class="qa_errata_footer">
                            <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </li>
            
                    <li class="qa_errata_list_card">
                        <div class="qa_errata_header">
                            <p>第2問</p>
                            <p><span class="qa_errata_wrong">不正解 ×</span></p>
                        </div>
                        <div class="qa_errata_footer">
                            <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </li>

                    <li class="qa_errata_list_card">
                        <div class="qa_errata_header">
                            <p>第3問</p>
                            <p><span class="qa_errata_right">正解 ○</span></p>
                        </div>
                        <div class="qa_errata_footer">
                            <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </li>
            
                    <li class="qa_errata_list_card">
                        <div class="qa_errata_header">
                            <p>第4問</p>
                            <p><span class="qa_errata_wrong">不正解 ×</span></p>
                        </div>
                        <div class="qa_errata_footer">
                            <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </li>  

                    <li class="qa_errata_list_card">
                        <div class="qa_errata_header">
                            <p>第5問</p>
                            <p><span class="qa_errata_right">正解 ○</span></p>
                        </div>
                        <div class="qa_errata_footer">
                            <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </li>
            
                    <li class="qa_errata_list_card">
                        <div class="qa_errata_header">
                            <p>第6問</p>
                            <p><span class="qa_errata_wrong">不正解 ×</span></p>
                        </div>
                        <div class="qa_errata_footer">
                            <p>処方2及びこの患者への生活指導に関する説明のうち、適切なのはどれか。2つ選べ。</p>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </li>  
                </ul>
            </div>

        </div>

    </main>
</body>

</html>